.Lugar{
    margin: 5px;
    padding: 10px;
    width: 205px;
    background: white;
    height: fit-content;
}

.Lugar h1, .Lugar p{
    font-size: initial !important;
    margin: initial !important;
    font-family: initial !important;
}

.Lugar p{
    color: #143235 !important;
    height: 20px;
    font-weight: 200 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Lugar img{
    width: 100%;
    object-fit: cover;
}

.Lugar .titulo-lugar{
    color:#4cb8c0 !important;
    font-weight: 600;
}