.Lugar {
    margin: 5px;
    padding: 10px;
    width: 18rem;
    background: white;
}

.Lugar h5, .Lugar p{
    font-size: initial !important;
    margin: initial !important;
    font-family: initial !important;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.Lugar p{
    color: #143235 !important;
    height: 20px;
    font-weight: 200 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Lugar img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}