.Dashboard{
    background: rgb(213, 250, 209);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    min-height: 90vh;
}

.Dashboard .hero{
    width: 70%;
}

.Dashboard .hero p{
    width: 80%;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: darkgreen;
}

.Dashboard .foto{
    width: 30%;
}