.LugarPage{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo-lugares{
    margin: 50px;
}

.lugares{
    background-color: #c7e4e6;
    width: 90%;
    height: 1000px;
}