.LugarPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Maiden Orange', cursive;
    text-align: center;
    padding: 30px;
    min-height: 80vh;
    background: url('../../images/bg-1.jpeg') no-repeat;
    background-position-y: -400px;
    background-size: cover;
}

.LugarPage .lugarpage-regresar{
    width: 100%;
    text-align: left;
    color: rgb(27, 80, 27);
}

.LugarPage .body{
    height: 700px;
    width: 100%;
    margin: 30px;
    border-radius: 10px;
    background-color:rgba(107, 217, 250, 0.6);
    display: flex;
    justify-content: flex-start;
}

.LugarPage .body .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.LugarPage .body .imagen img{
    height: 80%;
    width: 90%;
    object-fit: cover;
    margin-left: 40px;
    border: 2px solid green;
    border-radius: 10px;
}

.LugarPage .body .info{
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(28, 60, 167);
    justify-content: space-between;
}

.LugarPage .body .info .nombre-lugar{
    color: rgb(4, 44, 131);
    margin-bottom: 20px;
    font-size: 40px;
}

.LugarPage .body .info .descripcion{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15px;
}

.LugarPage .body #map{
    margin-top: 20px;
    width: 100%;
    height: 350px;
}