.PageCodeHTTP {
    background: #11999e;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PageCodeHTTP .error {
    font-size: 3rem;
}

.PageCodeHTTP .descripcion {
    margin-top: 30px;
    font-size: 1.5rem;
}

.PageCodeHTTP a {
    margin-top: 30px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}