.RegisterTurista {
    font-family: 'Maiden Orange', cursive;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    position: relative;
    text-align: center;
    background: url('./../../images/bg-1.jpeg') no-repeat;
    background-position-y: -400px;
    background-size: cover;
    padding: 50px;
}

.RegisterTurista:before,
.RegisterTurista:after {
    content:'';
    display:block;
    box-flex:1;
    flex-grow:1;
    height:64px
}

.RegisterTurista .Caja {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey;
}

.RegisterTurista form {
    width: 100%;
    margin: auto;
}

.RegisterTurista .nombre {
    font-size: 14px;
    line-height: 1.4286;
}

.RegisterTurista .nombre h1 {
    color: #0f473d;
}

.RegisterTurista .cuerpo .field:first-child {
    margin-top: 16px;
}

.RegisterTurista form .field {
    position: relative;
    margin-bottom: 32px;
}

.RegisterTurista form .field input[type="text"],
.RegisterTurista form .field input[type="email"],
.RegisterTurista form .field input[type="password"] {
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #BBDEFB;
}

.RegisterTurista form .field input[type="text"]:focus,
.RegisterTurista form .field input[type="email"]:focus,
.RegisterTurista form .field input[type="password"]:focus,
.RegisterTurista form .field input[type="text"]:active,
.RegisterTurista form .field input[type="email"]:active,
.RegisterTurista form .field input[type="password"]:active{
    outline: none;
    border-bottom: 2px solid #303F9F;
}

.RegisterTurista form .field label {
    color: #303F9F;
}

.RegisterTurista form .field label.label {
    color: #303F9F;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 16px;
    left: 0;
}

.RegisterTurista form .field label.label.active {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: $divider;
}

.RegisterTurista .btn-accion {
    position: absolute;
}

.RegisterTurista .btn-accion button {
    color: #0f473d;
    background: transparent;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #0f473d;
    height: 36px;
    width: 6.5rem;
}

.RegisterTurista .btn-accion button:hover {
      background-color: #0f473d;
      color: white;
 }

.RegisterTurista .regresar {
    height: 16.8px;
    position: absolute;
    bottom: -20px;
}