.RegisterTurista {
    font-family: 'Maiden Orange', cursive;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    position: relative;
    text-align: center;
    background: url('./../../images/bg-1.jpeg') no-repeat;
    background-position-y: -400px;
    background-size: cover;
}

.RegisterTurista:before,
.RegisterTurista:after {
    content:'';
    display:block;
    box-flex:1;
    flex-grow:1;
    height:24px
}

.RegisterTurista .Caja {
    background: white;
    width: 750px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    flex-shrink: 0;
    margin: 0 auto;
    position: relative;
}

.RegisterTurista .form {
    display: flex;
    height: auto;
    min-height: 250px;
    padding: 48px 40px 36px;
    overflow: hidden;
}

.RegisterTurista .nombre {
    font-size: 14px;
    line-height: 1.4286;
}

.RegisterTurista .nombre h1 {
    color: #0f473d;
}

.RegisterTurista .cuerpo {
    padding: 24px 0 0;
}

.RegisterTurista .datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.RegisterTurista .datos .field:first-child {
    margin-right: 16px;
}

.RegisterTurista .field {
    padding: 8px 0 8px;
    height: 36px;
}

.RegisterTurista .field input,
.RegisterTurista .field select {
    width: 75%;
}

.RegisterTurista .botones {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 0;
}
.RegisterTurista .btn-accion {
    position: absolute;
}
.RegisterTurista .btn-accion button {
    color: #0f473d;
    background: transparent;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #0f473d;
    height: 36px;
    width: 6.5rem;
}

.RegisterTurista .btn-accion button:hover {
      background-color: #0f473d;
      color: white;
 }

.RegisterTurista .botones span span{
    margin: 8px 16px;
    color: #fff;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
}

.RegisterTurista .botones span {
    position: relative;
}

.RegisterTurista .regresar {
    height: 16.8px;
    position: absolute;
    bottom: -20px;
}